// Horizontal gradient, from left to right
.horizontal-gradient(@start-color: #1e5799, @end-color: #4b74b0, @start-percent: 0%, @end-percent: 100%) {
	background-color: @start-color;
	background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent);
	background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent)); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
	background-repeat: repeat-x;
}

// Vertical gradient, from top to bottom
.vertical-gradient(@start-color: #1e5799, @end-color: #4b74b0, @start-percent: 0%, @end-percent: 100%) {
	background-color: @start-color; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@start-percent,@start-color), color-stop(@end-percent,@end-color)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, @start-color @start-percent,@end-color @end-percent); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, @start-color @start-percent,@end-color @end-percent); /* IE10+ */
	background-image: linear-gradient(to bottom, @start-color @start-percent,@end-color @end-percent); /* W3C */
}

.size(@width, @height) {
	width: @width;
	height: @height;
}

.square(@size) {
	.size(@size, @size);
}

// Placeholder
.placeholder(@color:#b2b2b2) {
	&:-moz-placeholder            { color: @color; } // Firefox 4-18
	&::-moz-placeholder           { color: @color; } // Firefox 19+
	&:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// Box sizing
.box-sizing(@boxmodel: border-box) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

// Background-size
.background-size(@size: cover) {
	background-size: @size;
	-webkit-background-size: @size;
	-o-background-size: @size;
	-moz-background-size: @size;
}

// text columns
.column(@count: 3, @gap: 1em) {
	-webkit-column-count: @count; -webkit-column-gap: @gap;
	-moz-column-count: @count;    -moz-column-gap: @gap;
	column-count: @count;         column-gap: @gap;
}

// Transition
.transition(@property: all, @duration:0.2s, @ease:ease-out) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

// Truncating text
.text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// transformation
.transform(@value) {
	-webkit-transform: @value;
	-moz-transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	transform: @value;
}

// CSS rule to disable text selection highlighting
.user-select (@val) {
	-webkit-touch-callout:  @val;
	-webkit-user-select:    @val;
	-khtml-user-select:     @val;
	-moz-user-select:       @val;
	-ms-user-select:        @val;
	user-select:            @val;
}

.word-wrap() {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// ClearFix
.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// FlexBox mixin
.flex-display(@display: flex) { /*flex | inline-flex;*/
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: @display;
}

.flex-direction(@direction: row) { /*row | row-reverse | column | column-reverse*/
	-webkit-box-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) { /*nowrap | wrap | wrap-reverse */
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}
.flex(@columns: initial) { /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
	-webkit-box-flex: @columns;
	-ms-flex: @columns;
	flex: @columns;
}
.flex-flow(@flow) { /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
	-ms-flex-flow: @flow;
	flex-flow: @flow;
}
.justify-content(@justify: flex-start) { /*flex-start | flex-end | center | space-between | space-around*/
	-webkit-justify-content: @justify;
	-moz-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
}
.align-content(@align: stretch) { /*flex-start | flex-end | center | space-between | space-around | stretch*/
	-ms-flex-line-pack: @align;
	align-content: @align;
}
.align-items(@align: stretch) { /*flex-start | flex-end | center | baseline | stretch*/
	-webkit-box-align: @align;
	-ms-flex-align: @align;
	align-items: @align;
}
.flex-grow(@grow: 0) { /*<number>(default 0)*/
	-webkit-box-flex: @grow;
	-ms-flex-positive: @grow;
	flex-grow: @grow;
}
.flex-order(@order: 0) { /*<integer>*/
	-webkit-box-ordinal-group: @order + 1;
	-moz-order: @order;
	-ms-flex-order: @order;
	order: @order;
}
.flex-shrink(@shrink: 1) { /*<number>(default 0)*/
	-ms-flex-negative: @shrink;
	flex-shrink: @shrink;
}
.flex-basis(@width: auto) { /*<length> | auto (default auto)*/
	ms-flex-preferred-size: @width;
	flex-basis: @width;
}
.align-self(@align: auto) { /*auto | flex-start | flex-end | center | baseline | stretch*/
	-ms-flex-item-align: @align;
	align-self: @align;
}
